<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<script>
function LoginCheck() {
  		if(session.getAttribute(id) !=null) {
  			$(div)

  			session.invalidate();


  		}

  		}
  </script>
<meta charset="utf-8"/>,
  <body>
        <!-- top navigation -->
        <div class="top_nav" th:fragment="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                <a class="user-profile"id="tab_login" onclick="LoginCheck();">

                    <span th:text="${session.name}"></span>
					<div>
					 <button>a</button>
                  </div>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
  </body>
</html>