<div class="mmodal">

	<div class="modal-dialog modal-xl" style="width: 70%;" role="document">

		<div class="modal-content" role="main">
			<div class="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h3 class="modal-title">IT資産情報変更</h3>
				</div>


				<div class="clearfix"></div>

				<div class="row" style="width: 100%; margin-left: 0%">

					<!-- 資産情報変更フォーム -->
					<form action="/asset/update" id="am_updateForm" method="POST"
						role="form" class="form-horizontal">
						<div class="x_panel">
							<div class="x_content" style="display: block;">
								<div class="row well">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2">
												<span>管理番号</span>
											</div>
											<div class="col-md-4">
												<input type="hidden" class="form-control" name="assetSeq"
													th:value="${asset.assetSeq}"> <input type="text"
													class="form-control" name="assetNumber"
													th:value="${asset.assetNumber}" disabled>
											</div>
											<div class="col-md-2">
												<span>区分</span>
											</div>
											<div class="col-md-4">
												<select name="kubunCode" class="form-control"
													id="am_psNum_search">
													<option th:each="code : ${productCode}"
														th:value="${code.codeDetailId}"
														th:selected="${code.codeDetailId == asset.kubunCode}"
														th:inline="text">[[${code.codeDetailName}]]</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2">
												<span>購入日</span>
											</div>
											<div class="col-md-4">
												<div class="input-group date" id="am_myDatepicker">
													<input type="text" class="form-control input-group-addon" name="purchaseDate"
														th:value="${asset.purchaseDate}">
												</div>
											</div>
											<div class="col-md-2">
												<span>状態</span>
											</div>
											<div class="col-md-4">
												<input type="hidden" class="form-control"
													name="preStatusCode" th:value="${asset.statusCode}">
												<select name="statusCode" class="form-control"
													id="am_sNumber_search">
													<option th:each="code : ${stateCode}"
														th:value="${code.codeDetailId}"
														th:selected="${code.codeDetailId == asset.statusCode}"
														th:inline="text">[[${code.codeDetailName}]]</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2">
												<span>購入先</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control" name="buyTo"
													th:value="${asset.buyTo}">
											</div>
											<div class="col-md-2">
												<span>購入金額</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control numVal"
													name="purchasePrice" th:value="${asset.purchasePrice}">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2">
												<span>保管位置</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control"
													name="storageLocation" th:value="${asset.storageLocation}">
											</div>
											<div class="col-md-2">
												<span>保証期間</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control numVal"
													name="warrantyPeriod" th:value="${asset.warrantyPeriod}">
											</div>
										</div>
									</div>

									<div class="col-md-12">
										<br>
									</div>

									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2">
												<span>Maker</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control" name="makerName"
													th:value="${asset.makerName}">
											</div>
											<div class="col-md-2">
												<span>Model</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control" name="modelName"
													th:value="${asset.modelName}">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2">
												<span>S/N</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control" name="serialNum"
													th:value="${asset.serialNum}">
											</div>
											<div class="col-md-2">
												<span>I/F</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control" name="interFaceCol"
													th:value="${asset.interFaceCol}">
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<br> <span>その他</span>
									</div>
									<div class="col-md-12">
										<textarea class="form-control" name="other"
											th:text="${asset.other}"></textarea>
									</div>
								</div>
								<div class="row well">
									<div class="col-md-12">
										<span>OS</span>
									</div>
									<div class="col-md-12">
										<br>
									</div>
									<div class="col-md-2">
										<span>名(Edition)</span>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control" name="osName"
											th:value="${asset.osName}">
									</div>
									<div class="col-md-2">
										<span>Product Key</span>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control" name="osProductKey"
											th:value="${asset.osProductKey}">
									</div>
								</div>
								<div class="row well">
									<div class="col-md-12">
										<span>CPU</span>
									</div>
									<div class="col-md-12">
										<br>
									</div>
									<div class="col-md-2">
										<span>Processor</span>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control" name="cpuProcessor"
											th:value="${asset.cpuProcessor}">
									</div>
									<div class="col-md-2">
										<span>動作周波数</span>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control numVal"
											name="operatingFrequency"
											th:value="${asset.operatingFrequency}">
									</div>
								</div>
								<div class="row well">
									<div class="col-md-6">
										<div class="row well">
											<div class="col-md-12">
												<span>Memory</span>
											</div>
											<div class="col-md-12">
												<br>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control numVal" name="memory"
													th:value="${asset.memory}">
											</div>
											<div class="col-md-4">
												<span>Upgarde</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control numVal"
													name="memoryUpgarde" th:value="${asset.memoryUpgarde}">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row well">
											<div class="col-md-12">
												<span>HDD</span>
											</div>
											<div class="col-md-12">
												<br>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control numVal" name="hdd"
													th:value="${asset.hdd}">
											</div>
											<div class="col-md-4">
												<span>Upgarde</span>
											</div>
											<div class="col-md-4">
												<input type="text" class="form-control numVal"
													name="hddUpgarde" th:value="${asset.hddUpgarde}">
											</div>
										</div>
									</div>
								</div>
								<div class="row well">
									<div class="col-md-12">
										<span>MAC</span>
									</div>
									<div class="col-md-12">
										<br>
									</div>
									<div class="col-md-3">
										<span>LAN</span>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="macLan"
											th:value="${asset.macLan}">
									</div>
									<div class="col-md-3">
										<span>Wireless</span>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="macWireless"
											th:value="${asset.macWireless}">
									</div>
								</div>
								<div class="row well">
									<div class="col-md-12">
										<span>Security</span>
									</div>
									<div class="col-md-12">
										<br>
									</div>
									<div class="col-md-3">
										<span>BIOS</span>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="securityBios"
											th:value="${asset.securityBios}">
									</div>
									<div class="col-md-3">
										<span>HDD</span>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="securityHdd"
											th:value="${asset.securityHdd}">
									</div>
								</div>
								<div class="row well">
									<div class="col-md-12">
										<span>Admin.Account</span>
									</div>
									<div class="col-md-12">
										<br>
									</div>
									<div class="col-md-3">
										<span>ID</span>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="adminAccountId"
											th:value="${asset.adminAccountId}">
									</div>
									<div class="col-md-3">
										<span>PW</span>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="adminAccountPwd"
											th:value="${asset.adminAccountPwd}">
									</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>
							</div>
						</div>
					</form>
					<!-- /資産情報変更フォーム -->

					<!-- 付属品テーブル -->
					<div class="row">
						<div class="col-md-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>付属品</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" style="display: block;">
									<div
										class="table-responsive table-wrapper-scroll-y my-custom-scrollbar-update">

										<table
											class="table table-striped jambo_table bulk_action text-center"
											id="am_table1">
											<thead>
												<tr class="headings">
													<th class="col-md-1">No</th>
													<th class="col-md-2">品名</th>
													<th class="col-md-2">仕樣</th>
													<th class="col-md-1">数量</th>
													<th class="col-md-6">備考</th>
													<th colspan="2"></th>
												</tr>
											</thead>
											<tbody>
												<!-- 付属品10個項目 -->
												<!-- 既存 付属品 -->
												<tr id="accupdate1"
													th:each="accessories,accnum : ${asset.accessoriesList}">
													<input type="hidden" th:id="${#ids.seq('am_acckey')}"
														th:value="${accessories.accessoriesSeq}">
													<td th:id="${#ids.seq('am_accessoriesSeq')}"
														th:text="${accnum.index+1}"></td>
													<td><input type="text" maxlength="25"
														class="form-control" th:id="${#ids.seq('am_itemName')}"
														th:value="${accessories.itemName}"></td>
													<td><input type="text" maxlength="25"
														class="form-control" th:id="${#ids.seq('am_itemSpec')}"
														th:value="${accessories.itemSpec}"></td>
													<td><input type="text" maxlength="11"
														class="form-control"
														th:id="${#ids.seq('am_itemQuantity')}"
														th:value="${accessories.itemQuantity}"></td>
													<td><input type="text" maxlength="100"
														class="form-control" th:id="${#ids.seq('am_remarks')}"
														th:value="${accessories.remarks}"></td>
												</tr>
												<!-- 付属品を追加ため空欄 -->

												<tr id="accupdate2"
													th:if="${#lists.size(asset.accessoriesList) < 10}"
													th:each="index:${#numbers.sequence(1,10-#lists.size(asset.accessoriesList))}">
													<td th:id="${#ids.seq('am_accessoriesSeq')}"
														th:text="${index+#lists.size(asset.accessoriesList)}"></td>
													<td><input type="text" maxlength="8"
														class="form-control" th:id="${#ids.seq('am_itemName')}"></td>
													<td><input type="text" maxlength="100"
														class="form-control" th:id="${#ids.seq('am_itemSpec')}"></td>
													<td><input type="text" maxlength="10"
														class="form-control"
														th:id="${#ids.seq('am_itemQuantity')}"></td>
													<td><input type="text" maxlength="10"
														class="form-control" th:id="${#ids.seq('am_remarks')}"></td>
												</tr>

											</tbody>
										</table>

									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- /付属品テーブル -->

					<!-- 保守履歴テーブル -->
					<div class="row">
						<div class="col-md-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>保守履歴</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" style="display: block;">
									<div
										class="table-responsive table-wrapper-scroll-y my-custom-scrollbar-update">
										<table class="table table-striped jambo_table bulk_action"
											id="am_table2">
											<thead>
												<tr class="headings">
													<th class="col-md-1">No</th>
													<th class="col-md-2">実施日</th>
													<th class="col-md-5">実施内容</th>
													<th class="col-md-2">担当</th>
													<th class="col-md-2">承認</th>
													<th colspan="2"></th>
												</tr>
											</thead>
											<tbody>
												<!-- 保守履歴10個項目 -->
												<!-- 既存 保守履歴 -->
												<tr id="mhupdate1"
													th:each="maintenance, mhnum : ${asset.maintenanceHistoryList}">
													<input type="hidden" th:id="${#ids.seq('am_mhkey')}"
														th:value="${maintenance.historySeq}">
													<td th:id="${#ids.seq('am_historySeq')}"
														th:text="${mhnum.index+1}"></td>
													<td><input type="text" maxlength="25"
														class="form-control"
														th:id="${#ids.seq('am_implementationDate')}"
														th:value="${maintenance.implementationDate}"></td>
													<td><input type="text" maxlength="25"
														class="form-control"
														th:id="${#ids.seq('am_implementationDetail')}"
														th:value="${maintenance.implementationDetail}"></td>
													<td><input type="text" maxlength="11"
														class="form-control" th:id="${#ids.seq('am_repId')}"
														th:value="${maintenance.repId}"></td>
													<td><input type="text" maxlength="100"
														class="form-control" th:id="${#ids.seq('am_approverId')}"
														th:value="${maintenance.approverId}"></td>
												</tr>
												<!-- 保守履歴を追加ため空欄 -->
												<tr id="mhupdate2"
													th:if="${#lists.size(asset.maintenanceHistoryList) < 10}"
													th:each="index:${#numbers.sequence(1,10-#lists.size(asset.maintenanceHistoryList))}">
													<td th:id="${#ids.seq('am_historySeq')}"
														th:text="${index+#lists.size(asset.maintenanceHistoryList)}"></td>
													<td><input type="text" maxlength="8"
														class="form-control"
														th:id="${#ids.seq('am_implementationDate')}"></td>
													<td><input type="text" maxlength="100"
														class="form-control"
														th:id="${#ids.seq('am_implementationDetail')}"></td>
													<td><input type="text" maxlength="10"
														class="form-control" th:id="${#ids.seq('am_repId')}"></td>
													<td><input type="text" maxlength="10"
														class="form-control" th:id="${#ids.seq('am_approverId')}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /保守履歴テーブル -->
					<div class="col-md-12 text-left">
						<br>
						<button type="button" class="btn btn-secondary pull-right"
							data-dismiss="modal">戻る</button>
						<button type="button" id="sisanupdate"
							class="btn btn-primary btn-warning">変更</button>

					</div>

				</div>
			</div>
		</div>
		<!-- /page content -->
	</div>
</div>
<!-- page script -->
<script th:inline="javascript">
    /*<![CDATA[*/
    	// datetimepickerセッティング
        $('#am_myDatepicker').datetimepicker({
            format: 'YYYY-MM-DD'
        });

		// 区分コードMap
    	var productCodeMap = new Map();
		var productCode = /*[[${productCode}]]*/;
    	productCode.forEach(function( value ) {
    		productCodeMap.set(value.codeDetailId, value.codeDetailName);
    	});
    	// 状態コードMap
    	var stateCodeMap = new Map();
    	var stateCode = /*[[${stateCode}]]*/;
    	stateCode.forEach(function( value ) {
    		stateCodeMap.set(value.codeDetailId, value.codeDetailName);
    	});

    	// Jquery validator メッセージセッティング
    	$.validator.messages.number = '有効な数字を入力';
    	$.validator.messages.maxlength = '{0} 文字以下を入力';

        $(function(){

        	// 数量文字入力制限
        	$('#am_table1 tbody').on('keyup','#am_itemQuantity', function() {
        	    if (/\D/.test(this.value)) {
        	        this.value = this.value.replace(/\D/g, '')
        	        alert('半角数字のみ入力');
        	    }
        	});

        	// 実施日文字入力制限
        	$('#am_table2 tbody').on('keyup','#am_implementationDate', function() {
        	    if (/\D/.test(this.value)) {
        	        this.value = this.value.replace(/\D/g, '')
        	        alert('半角数字のみ入力');
        	    }
        	});

        	// 資産変更モーダルの変更バトン
        	$('#sisanupdate').click(function(){
        		var acclength = Object.keys([[${asset.accessoriesList}]]).length;
        		var mhlength = Object.keys([[${asset.maintenanceHistoryList}]]).length;
				if(confirm('資産情報を変更しますか。')){
	        		if(acclength < 1){
	        			accinsert()
	        		} else{
	        			accupdate(),accinsert();
	        		}
	        		if(mhlength < 1){
	        			mhinsert()
	        		} else{
	        			mhupdate(), mhinsert();
	        		}
	        		assupdate();

	        	}else{
	        		return false;
	        	}
        	});//資産変更モーダルの変更バトンEND

        	// 資産変更プロセス
            function assupdate() {
                var form = $('#am_updateForm');

				// 有効性検査条件セッティング
                form.validate({
                    rules: {
                    	kubunCode : {
                    		required : true
                    	},
                    	purchaseDate: {
                            required: true
                        },
                        statusCode: {
                        	required: true
                        },
                        warrantyPeriod: {
                        	number: true,
                        	maxlength: 2
                        },
                        buyTo: {
                        	maxlength: 15
                        },
                        storageLocation: {
                        	maxlength: 15
                        },
                        makerName: {
                        	maxlength: 25
                        },
                        modelName: {
                        	maxlength: 25
                        },
                        serialNum: {
                        	maxlength: 100
                        },
                        interFaceCol: {
                        	maxlength: 25
                        },
                        osName: {
                        	maxlength: 50
                        },
                        osProductKey: {
                        	maxlength: 50
                        },
                        cpuProcessor: {
                        	maxlength: 50
                        },
                        purchasePrice: {
                        	number: true,
                        	maxlength: 11
                        },
                        operatingFrequency: {
                        	number: true,
                        	maxlength: 7
                        },
                        memory: {
                        	number: true,
                        	maxlength: 7
                        },
                        memoryUpgarde: {
                        	number: true,
                        	maxlength: 7
                        },
                        hdd: {
                        	number: true,
                        	maxlength: 7
                        },
                        hddUpgarde: {
                        	number: true,
                        	maxlength: 7
                        },
                        macLan: {
                        	maxlength: 25
                        },
                        macWireless: {
                        	maxlength: 25
                        },
                        other: {
                        	maxlength: 100
                        },
                        securityBios: {
                        	maxlength: 25
                        },
                        securityHdd: {
                        	maxlength: 25
                        },
                        adminAccountId: {
                        	maxlength: 25
                        },
                        adminAccountPwd: {
                        	maxlength: 25
                        }
                    },
                    messages: {
                    	kubunCode : {
                    		required : "区分を選択"
                    	},
                    	purchaseDate: {
                            required: "日付を入力"
                        },
                        statusCode: {
                        	required: "状態を選択"
                        }
                    },
                    errorPlacement: function(error, element) {
                        if (element.attr("name") == "purchaseDate") {
                          error.insertAfter("#am_myDatepicker");
                        } else {
                          error.insertAfter(element);
                        }
                    }
                });//validate

				// 有効性検査成功時
                if (form.valid()) {
                	// number基本値セッティング
                    form.find('.numVal').each(function( ) {
                    	if($(this).val() == '') {
                    		$(this).val('0');
                    	}
                    });

                    // 送信
                    $.ajax({
                        url: form.attr('action'),
                        type: form.attr('method'),
                        data: form.serialize(),
                        success: function(result, textStatus, xhr) {
                        	if(result == 0){
                        		alert('エラーが発生しました。');
                        	}else{
                        		alert('変更されました。');
                        		location.href = '/asset';
                        	}
                        },
                        // 通信失敗時の処理
                        error: function(xhr, textStatus, error) {
                        	alert('通信失敗');
                        }
                    });
                };

            }
		//付属品変更・削除プロセス
			function accupdate() {
				var selectTr1 = $(accupdate1);
				var acclength = Object.keys([[${asset.accessoriesList}]]).length;
 				//accessories update
				for(var i = 1; i < acclength + 1 ; i++){
					var am_itemName = '#am_itemName'+i;
					var am_itemSpec = '#am_itemSpec'+i;
					var am_itemQuantity = '#am_itemQuantity'+i;
					var am_remarks = '#am_remarks'+i;
					var am_acckey = '#am_acckey'+i;

					var accessories ={
	            			"assetSeq" : /*[[${asset.assetSeq}]]*/,
	            			"accessoriesSeq" : selectTr1.find(am_acckey).val(),
	            			"itemName" : selectTr1.find(am_itemName).val(),
	            			"itemSpec" : selectTr1.find(am_itemSpec).val(),
	            			"itemQuantity" : selectTr1.find(am_itemQuantity).val(),
	            			"remarks" : selectTr1.find(am_remarks).val()
	            	};
					// 付属品削除プロセス
					if(selectTr1.find(am_itemName).val() == "" && selectTr1.find(am_itemSpec).val() == ""
						&& selectTr1.find(am_itemQuantity).val() == "" && selectTr1.find(am_remarks).val() ==""){
	                	var accessories ={
	                			"assetSeq" : /*[[${asset.assetSeq}]]*/,
	                			"accessoriesSeq" :  selectTr1.find(am_acckey).val()
	                	};
	                	$.ajax(/*[[@{/asset/deleteAccessories}]]*/ 'asset/deleteAccessories',
	    					{
	    						type: "POST",
	    						dataType: "json",
	    						contentType: 'application/JSON',
	    						data : JSON.stringify(accessories)
	    					}
	                	)
	    				.success(function(result) {
	    					if(result == 0) {
	    						alert('エラーが発生しました。');
	    					} else {
	    						selectTr.remove();
	    						alert('削除しました');
	    					}
	    				}).error(function(xhr, textStatus, error) {
	                    	alert('通信失敗');
	                    });
					}//削除if
					//付属品変更プロセス
					else{
						$.ajax(/*[[@{/asset/updateAccessories}]]*/ 'asset/updateAccessories',
		    					{
		    						type: "POST",
		    						dataType: "json",
		    						contentType: 'application/JSON',
		    						data : JSON.stringify(accessories)
		    					}
		                	)
		    				.success(function(result) {
		    					if(result == 0) {
		    						alert('エラーが発生しました。');
		    					} else {
									console.log('付属品変更行目：'+ i-1 +'行目');
		    					}
		    				}).error(function(xhr, textStatus, error) {
		                    	alert('通信失敗');
		                    });//ajax end
	           		}//変更else
	            };//for end
			}//function accupdate
			//付属品登録プロセス
			function accinsert() {

	            var selectTr2 = $(accupdate2);
	        	var acclength = Object.keys([[${asset.accessoriesList}]]).length;

				for(var i = acclength+1; i < 11 ; i++){
					var am_accessoriesSeq = '#am_accessoriesSeq'+i;
					var am_itemName = '#am_itemName'+i;
					var am_itemSpec = '#am_itemSpec'+i;
					var am_itemQuantity = '#am_itemQuantity'+i;
					var am_remarks = '#am_remarks'+i;

					var accessories ={
	            			"assetSeq" : /*[[${asset.assetSeq}]]*/,
	            			"accessoriesSeq" : selectTr2.find(am_accessoriesSeq).text(),
	            			"itemName" : selectTr2.find(am_itemName).val(),
	            			"itemSpec" : selectTr2.find(am_itemSpec).val(),
	            			"itemQuantity" : selectTr2.find(am_itemQuantity).val(),
	            			"remarks" : selectTr2.find(am_remarks).val()
	            	};


					if(selectTr2.find(am_itemName).val() == ""){

						break;
					} else if ( selectTr2.find(am_itemSpec).val() == ""){

						break;
					} else {
						$.ajax(/*[[@{/asset/addAccessories}]]*/ 'asset/addAccessories',
		    					{
		    						type: "POST",
		    						dataType: "json",
		    						contentType: 'application/JSON',
		    						data : JSON.stringify(accessories)
		    					}
		                	)
		    				.success(function(result) {
		    					if(result == 0) {
		    						alert('エラーが発生しました。');
		    					} else {
		    						console.log('付属品登録行目：'+ i-1 +'行目');
		    					}
		    				}).error(function(xhr, textStatus, error) {
		                    	alert('通信失敗');
		                    });//ajax end
					}//end else
	            };//for end

			}//function accinsert
			//保守履歴変更・削除
			function mhupdate() {
				var selectTr1 = $(mhupdate1);
				var mhlength = Object.keys([[${asset.maintenanceHistoryList}]]).length;
 				//mh update
				for(var i = 1; i < mhlength + 1 ; i++){
					var am_implementationDate = '#am_implementationDate'+i;
					var am_implementationDetail = '#am_implementationDetail'+i;
					var am_repId = '#am_repId'+i;
					var am_approverId = '#am_approverId'+i;
					var am_mhkey = '#am_mhkey'+i;

					var maintenanceHistory ={
	            			"assetSeq" : /*[[${asset.assetSeq}]]*/,
	            			"historySeq" : selectTr1.find(am_mhkey).val(),
	            			"implementationDate" : selectTr1.find(am_implementationDate).val(),
	            			"implementationDetail" : selectTr1.find(am_implementationDetail).val(),
	            			"repId" : selectTr1.find(am_repId).val(),
	            			"approverId" : selectTr1.find(am_approverId).val(),
	            	};
					// 保守削除プロセス
					if(selectTr1.find(am_implementationDate).val() == "" && selectTr1.find(am_implementationDetail).val() == ""
							&& selectTr1.find(am_repId).val() == "" && selectTr1.find(am_approverId).val() == ""){
	                	var  maintenanceHistory ={
	                			"assetSeq" : /*[[${asset.assetSeq}]]*/,
	                			"historySeq" :  selectTr1.find(am_mhkey).val()
	                	};

	                	$.ajax(/*[[@{/asset/deleteMaintenanceHistory}]]*/ 'asset/deleteMaintenanceHistory',
	    					{
	    						type: "POST",
	    						dataType: "json",
	    						contentType: 'application/JSON',
	    						data : JSON.stringify(maintenanceHistory)
	    					}
	                	)
	    				.success(function(result) {
	    					if(result == 0) {
	    						alert('エラーが発生しました。');
	    					} else {
	    						selectTr.remove();
	    					}
	    				}).error(function(xhr, textStatus, error) {
	                    	alert('通信失敗');
	                    });
					}//削除if
					else{
						$.ajax(/*[[@{/asset/updateMaintenanceHistory}]]*/ 'asset/updateMaintenanceHistory',
		    					{
		    						type: "POST",
		    						dataType: "json",
		    						contentType: 'application/JSON',
		    						data : JSON.stringify(maintenanceHistory)
		    					}
		                	)
		    				.success(function(result) {
		    					if(result == 0) {
		    						alert('エラーが発生しました。');
		    					} else {
		    						console.log('保守履歴変更行目：'+ i-1 +'行目');
		    					}
		    				}).error(function(xhr, textStatus, error) {
		                    	alert('通信失敗');
		                    });//ajax end
	           		}//変更else
	            };//for end
			}//function mhupdate

			function mhinsert() {
	            var selectTr2 = $(mhupdate2);
	        	var mhlength = Object.keys([[${asset.maintenanceHistoryList}]]).length;

	          //maintainenthistory insert
				for(var i = mhlength+1; i < 11 ; i++){
					var am_historySeq = '#am_historySeq'+i;
					var am_implementationDate = '#am_implementationDate'+i;
					var am_implementationDetail = '#am_implementationDetail'+i;
					var am_repId = '#am_repId'+i;
					var am_approverId = '#am_approverId'+i;

					var  maintenanceHistory ={
	            			"assetSeq" : /*[[${asset.assetSeq}]]*/,
	            			"historySeq" : selectTr2.find(am_historySeq).text(),
	            			"implementationDate" : selectTr2.find(am_implementationDate).val(),
	            			"implementationDetail" : selectTr2.find(am_implementationDetail).val(),
	            			"repId" : selectTr2.find(am_repId).val(),
	            			"approverId" : selectTr2.find(am_approverId).val()
	            	};
					if(selectTr2.find(am_implementationDate).val() == ""){

						break;
					} else if ( selectTr2.find(am_implementationDetail).val() == ""){

						break;
					} else {
						$.ajax(/*[[@{/asset/addMaintenanceHistory}]]*/ 'asset/addMaintenanceHistory',
		    					{
		    						type: "POST",
		    						dataType: "json",
		    						contentType: 'application/JSON',
		    						data : JSON.stringify(maintenanceHistory)
		    					}
		                	)
		    				.success(function(result) {
		    					if(result == 0) {
		    						alert('エラーが発生しました。'+i);
		    					} else {
		    						console.log('保守履歴登録行目：'+ i-1 +'行目');
		    					}
		    				}).error(function(xhr, textStatus, error) {
		                    	alert('通信失敗');
		                    });//ajax end
					}//end else
	            };//for end

			}//function mhinsert


        })
    /*]]>*/
    </script>

