<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


	<!-- page script -->
<script type="text/javascript">
function check() {}
 document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("必須入力項目です。入力してください。");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };

    }
})
</script>

  <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IT資産管理</title>

    <!-- favicons -->
	<link rel="icon" href="../images/aisRogo.png">
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- logincss -->
    <link href="../vendors/bootstrap/dist/css/logincss.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">




  </head>

  <body class="login">
    <div>


      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">

           <!--th:object="${login}"-->
            <form method="POST" action="/loginprocess" class="form-horizontal" name = "frm" >

                <div>
                  <h1>IT資産管理システム </h1>

                </div>
				<!-- errorMessage表示 -->
				<div style = "width : 250px; height : 30px; " id = "test">[[${errorMessage}]]</div>
              <div>

              	<fieldset>
                	<input type="text" class="form-control" placeholder="社員番号" id="assetId" name="assetId" required />
              	</fieldset>
              </div>
              <div>
           	   	 <fieldset>
            	    <input type="password" class="form-control" placeholder="パスワード"id="assetPass" name="assetPass" required/>
             	 </fieldset>
              </div>
			<div id = "loginb" >
				<div id ="logininb">
					<input type ="submit" value="Login"id="submit_button" class="btn btn-success" />
				</div>
			</div>

            </form>
             <!-- /logincheckform -->
          </section>
       		  				 </div><!-- animate form login_form -->
               			</div><!-- login_wrapper -->
        	  		</div><!-- login -->
			   </body>
</html>
