<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.info.ais.asm.mapper.AssetMapper">

	<resultMap id="assetResult" type="Asset">
	  <id property="assetSeq" column="asset_seq" />
	  <collection property="accessoriesList" ofType="Accessories">
	    <id property="accessoriesSeq" column="acc_accessories_seq"/>
	    <id property="assetSeq" column="acc_asset_seq"/>
	    <result property="itemName" column="acc_item_name"/>
	    <result property="itemSpec" column="acc_item_spec"/>
	    <result property="itemQuantity" column="acc_item_quantity"/>
	    <result property="remarks" column="acc_remarks"/>
	  </collection>
	</resultMap>

    <select id="select" resultMap="assetResult">
    SELECT A.* FROM(
        SELECT
			a.asset_seq
			,asset_number
			,kubun_code
			,purchase_date
			,warranty_period
			,buy_to
			,purchase_price
			,status_code
			,maker_name
			,model_name
			,serial_num
			,interface_col
			,os_name
			,os_product_key
			,cpu_processor
			,operating_frequency
			,MEMORY
			,memory_upgarde
			,hdd
			,hdd_upgarde
			,mac_lan
			,mac_wireless
			,other
			,security_bios
			,security_hdd
			,admin_account_id
			,admin_account_pwd
			,storage_location
			,b.accessories_seq acc_accessories_seq
			,b.asset_seq acc_asset_seq
			,b.item_name acc_item_name
			,b.item_spec acc_item_spec
			,b.item_quantity acc_item_quantity
			,b.remarks acc_remarks
		FROM asset a, accessories b
		WHERE a.asset_seq = b.asset_seq
		ORDER BY asset_seq ASC, acc_accessories_seq ASC
	) A
	WHERE 1 = 1
		<if test="assetSeq > 0">
		AND asset_seq = #{assetSeq}
		</if>
		<if test="assetNumber != null and !assetNumber.equals('')">
		AND asset_number like '%${assetNumber}%'
		</if>
		<if test="kubunCode != null and !kubunCode.equals('000')">
		AND kubun_code = #{kubunCode}
		</if>
		<if test="statusCode != null and !statusCode.equals('000')">
		AND status_code = #{statusCode}
		</if>
		<if test="makerName != null and !makerName.equals('')">
		AND maker_name like '%${makerName}%'
		</if>
		<if test="modelName != null and !modelName.equals('')">
		AND model_name like '%${modelName}%'
		</if>
		<if test="startPurchaseDate != null and endPurchaseDate != null">
		AND purchase_date BETWEEN #{startPurchaseDate} and #{endPurchaseDate}
		</if>
	LIMIT #{length} OFFSET #{start}
    </select>

    <select id="selectCount" resultType="int">
    SELECT COUNT(1)
    FROM asset
	WHERE 1 = 1
		<if test="assetNumber != null and !assetNumber.equals('')">
		AND asset_number like '%${assetNumber}%'
		</if>
		<if test="kubunCode != null and !kubunCode.equals('000')">
		AND kubun_code = #{kubunCode}
		</if>
		<if test="statusCode != null and !statusCode.equals('000')">
		AND status_code = #{statusCode}
		</if>
		<if test="makerName != null and !makerName.equals('')">
		AND maker_name like '%${makerName}%'
		</if>
		<if test="modelName != null and !modelName.equals('')">
		AND model_name like '%${modelName}%'
		</if>
		<if test="startPurchaseDate != null and endPurchaseDate != null">
		AND purchase_date BETWEEN #{startPurchaseDate} and #{endPurchaseDate}
		</if>
    </select>

    <select id="selectStateCode" resultType="jp.co.info.ais.asm.domain.CodeDetail">
    	SELECT
    		code_detail_id,
    		code_detail_name
    	FROM code_detail
		WHERE code_master_id = '001'
    </select>

    <select id="selectProductCode" resultType="jp.co.info.ais.asm.domain.CodeDetail">
    	SELECT
    		code_detail_id,
    		code_detail_name,
    		item1,
    		item2
    	FROM code_detail
		WHERE code_master_id = '002'
    </select>

    <insert id="insertAccessories" keyProperty="accessoriesSeq">
        INSERT INTO accessories(
        	(
        		SELECT MAX(accessories_seq) + 1
        		FROM accessories
        		WHERE asset_seq = #{assetSeq}
        	) accessoriesSeq,
        asset_seq, item_name, item_spec, item_quantity, remarks,
        insert_id, insert_date, update_id, update_date
        )
        VALUES (#{accessoriesSeq}, #{assetSeq}, #{itemName}, #{itemSpec}, #{itemQuantity}, #{remarks},
        #{insertId}, NOW(), #{updateId}, NOW())
    </insert>

</mapper>
