<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ams.mapper.CodeMasterMapper">


	<!--Insert MasterID NAME REMARKS -->
	<insert id="insertMasterIdName"
		parameterType="jp.co.info.ais.ams.domain.CodeMaster">
		INSERT INTO code_master(
		code_master_id
		,code_master_name)
		VALUES (
		#{code_master_id}
		,#{code_master_name}
		)
	</insert>

	<insert id="insertMasterId"
		parameterType="jp.co.info.ais.ams.domain.CodeMaster">
		INSERT INTO code_master(
		code_master_id)
		VALUES (
		#{code_master_id})
	</insert>
	<insert id="insertMasterName"
		parameterType="jp.co.info.ais.ams.domain.CodeMaster">
		INSERT INTO code_master(
		code_master_name)
		VALUES (

		#{code_master_name}
		)
	</insert>

	<select id="selectCodeMasterList" resultType="CodeMaster">
		SELECT A.* FROM(
		SELECT
		code_master_id
		,code_master_name
		,remarks
		,use_flag
		FROM code_master
		ORDER BY code_master_id ASC
		) A
		WHERE 1 = 1
		<if test="codeMasterId != null and !codeMasterId.equals('')">
			AND code_master_id like '%${codeMasterId}%'
		</if>
		<if test="codeMasterName != null and !codeMasterName.equals('')">
			AND code_master_name like '%${codeMasterName}%'
		</if>
		LIMIT #{length} OFFSET #{start}
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(1)
		FROM code_master
		WHERE 1 = 1
		<if test="codeMasterId != null and !codeMasterId.equals('')">
			AND code_master_id like '%${codeMasterId}%'
		</if>
		<if test="codeMasterName != null and !codeMasterName.equals('')">
			AND code_master_name like '%${codeMasterName}%'
		</if>
	</select>
	<select id="CodeMasterListCheck"
		parameterType="jp.co.info.ais.ams.domain.CodeMaster" resultType="int">
		SELECT
		count(*)
		FROM code_master
		where code_master_id=${codeMasterId}
	</select>
	<insert id="CodeMasterInsert"
		parameterType="jp.co.info.ais.ams.domain.CodeMaster">
		INSERT INTO code_master(
		code_master_id
		,code_master_name
		,remarks
		,use_flag)
		VALUES (
		#{codeMasterId}
		, #{codeMasterName}
		,
		#{remarks}
		, #{useFlag}
		)
	</insert>
	<update id="updateCodeMaster"
		parameterType="jp.co.info.ais.ams.domain.CodeMaster">
		UPDATE code_master SET
		code_master_id = #{codeMasterId},
		code_master_name=#{codeMasterName},
		remarks=#{remarks},
		use_Flag=#{useFlag}
		WHERE code_master_id = #{codeMasterIdOld}

	</update>

	<delete id="deleteMasterCode">
		DELETE FROM code_master WHERE code_master_id = #{codeMasterId}
	</delete>

</mapper>