<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ams.mapper.CodeDetailMapper">




<select id="CodeDetailListCheck"
		parameterType="jp.co.info.ais.ams.domain.CodeDetail" resultType="int">
		SELECT
		count(*)
		FROM code_detail
		WHERE code_master_id=${codeMasterId}
	</select>
	<select id="selectCodeDetailList" resultType="jp.co.info.ais.ams.domain.CodeDetail">
		SELECT A.* FROM(
		SELECT
		 code_master_id
		,code_detail_id
		,code_detail_name
		,item1
		,item2
		,item3
		,item4
		,item5
		,use_flag
		FROM code_detail
		ORDER BY code_master_id ASC
			) A
		<if test="codeMasterId != null and !codeMasterId.equals('')">
			AND code_master_id like '%${codeMasterId}%'
		</if>
		<if test="codeDetailId != null and !codeDetailId.equals('')">
			AND code_detail_id like '%${codeDetailId}%'
		</if>
		<if test="codeDetailName != null and !codeDetailName.equals('')">
			AND code_detail_name like '%${codeDetailName}%'
		</if>
		LIMIT #{length} OFFSET #{start}
	</select>

 	<select id="selectAllList" resultType="jp.co.info.ais.ams.domain.CodeDetail">
    	SELECT
    		 code_master_id
    		,code_detail_id
    		,code_detail_name
    		,item1
    		,item2
    		,item3
			,item4
			,item5
    	FROM code_detail
    </select>

    <select id="selectCount" resultType="int">
		SELECT COUNT(1)
		FROM code_master
		WHERE 1 = 1
		<if test="codeMasterId != null and !codeMasterId.equals('')">
			AND code_master_id like '%${codeMasterId}%'
		</if>
		<if test="codeDetailId != null and !codeDetailId.equals('')">
			AND code_master_name like '%${codeMasterName}%'
		</if>
		<if test="codeDetailName != null and !codeDetailName.equals('')">
			AND code_master_name like '%${codeMasterName}%'
		</if>
	</select>

	<select id="selectMasterCodeId" resultType="jp.co.info.ais.ams.domain.CodeDetail">
		SELECT
    		 code_master_id
    	FROM code_detail
	</select>

	   <select id="selectProductCode" resultType="jp.co.info.ais.ams.domain.CodeDetail">
    	SELECT
    		 code_master_id
    		,code_detail_id
    		,code_detail_name
    		,item1
    		,item2
    		,item3
    		,item4
    		,item5
  			,use_flag
    	FROM code_detail
		WHERE code_master_id = '001'
    </select>

    <select id="selectStateCode" resultType="jp.co.info.ais.ams.domain.CodeDetail">
    	SELECT
    		 code_master_id
    		,code_detail_id
    		,code_detail_name
    		,item1
    		,item2
    		,item3
    		,item4
    		,item5
  			,use_flag
    	FROM code_detail
		WHERE code_master_id = '002'
    </select>

       <select id="selectKubunCode" resultType="jp.co.info.ais.ams.domain.CodeDetail">
    	SELECT
    		 code_master_id
    		,code_detail_id
    		,code_detail_name
    		,item1
    		,item2
    		,item3
    		,item4
    		,item5
  			,use_flag
    	FROM code_detail
		WHERE code_master_id = '003'
    </select>
    	<select id="selectCode"	resultType="jp.co.info.ais.ams.domain.CodeDetail">
		SELECT DISTINCT
		code_master_id
		FROM code_detail
	</select>

	<!-- 詳細ーコード削除 -->
	<delete id="deleteDetailCode" parameterType="string">
		DELETE FROM code_detail
			WHERE (SELECT CONCAT(code_master_id, code_detail_id)) = "#{codeMDetail}"
	</delete>


	</mapper>