<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.info.ais.asm.mapper.HistoryMapper">

	<select id="selectHistory" resultType="jp.co.info.ais.asm.domain.History">
		SELECT
			as.asset_number,
			as.maker_name,
			as.model_name,
			rt.status_code,
			rt.rental_no,
			rt.purpose,
			rt.storage_location,
			rt.applicant_id,
			rt.rental_user_id,
			rt.bp_name,
			rt.rental_day,
			rt.return_day
		FROM asset as, Rental rt
		WHERE
		rt.asset_seq = as.asset_seq
		<if test="assetNumber != null and !assetNumber.equals('')">
		AND as.assetNumber LIKE #{assetNumber}
		</if>
		<if test="applicant != null and !applicant.equals('')">
		AND rt.applicant LIKE #{applicant}
		</if>
		<if test="statusCode != null and !applicant.equals('')">
		AND rt.status_code LIKE #{statusCode}
		</if>
		<if test="rentalDay != null">
		<![CDATA[
		AND DATE_FORMAT(rentalDay, '%Y/%m/%d') = DATE_FORMAT(#{rentalDay}, '%Y/%m/%d')
		]]>
		</if>
		ORDER BY rt.assetNumber
	</select>

    <select id="selectStateCode" resultType="jp.co.info.ais.asm.domain.CodeDetail">
    	SELECT
    		code_detail_id,
    		code_detail_name
    	FROM code_detail
		WHERE code_master_id = '001'
    </select>
</mapper>
