<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.info.ais.asm.mapper.ITAssetMapper">
    <select id="select" resultType="jp.co.info.ais.asm.domain.ITAsset">
    SELECT A.* FROM(
        SELECT
        	AssetNumber
			,P_S_NUM
			,PurchaseDate
			,WarrantyPeriod
			,BuyTo
			,PurchasePrice
			,StorageLocation
			,S_NUMBER
			,Maker
			,Model
			,SerialNum
			,InterFaceCol
			,OS_Name
			,OS_ProductKey
			,CPU_Processor
			,Operating_Frequency
			,Memory
			,Memory_Upgarde
			,HDD
			,HDD_Upgarde
			,MAC_LAN
			,MAC_Wireless
			,Other
			,Security_BIOS
			,Security_HDD
			,AdminAccount_ID
			,AdminAccount_PW
		FROM ITAsset order by AssetNumber asc
	) A
	WHERE 1 = 1
		<if test="assetNumber != null and !assetNumber.equals('')">
		AND AssetNumber like '%${assetNumber}%'
		</if>
		<if test="psNum != -1">
		AND P_S_NUM = #{psNum}
		</if>
		<if test="sNumber != -1">
		AND S_NUMBER = #{sNumber}
		</if>
		<if test="maker != null and !maker.equals('')">
		AND Maker like '%${maker}%'
		</if>
		<if test="model != null and !model.equals('')">
		AND Model like '%${model}%'
		</if>
		<if test="purchaseDate != null">
		<![CDATA[
		AND DATE_FORMAT(PurchaseDate, '%Y/%m/%d' ) = DATE_FORMAT(#{purchaseDate}, '%Y/%m/%d' )
		]]>
		</if>
	LIMIT #{length} OFFSET #{start}
    </select>

    <select id="selectCount" resultType="int">
    SELECT COUNT(1)
    FROM ITAsset
    WHERE 1 = 1
		<if test="assetNumber != null and !assetNumber.equals('')">
		AND AssetNumber like '%${assetNumber}%'
		</if>
		<if test="psNum != -1">
		AND P_S_NUM = #{psNum}
		</if>
		<if test="sNumber != -1">
		AND S_NUMBER = #{sNumber}
		</if>
		<if test="maker != null and !maker.equals('')">
		AND Maker like '%${maker}%'
		</if>
		<if test="model != null and !model.equals('')">
		AND Model like '%${model}%'
		</if>
		<if test="purchaseDate != null">
		<![CDATA[
		AND DATE_FORMAT(PurchaseDate, '%Y/%m/%d' ) = DATE_FORMAT(#{purchaseDate}, '%Y/%m/%d' )
		]]>
		</if>
    </select>

    <select id="selectStateCode" resultType="jp.co.info.ais.asm.domain.StateCode">
    	SELECT
    		S_NUMBER,
    		STATE
    	FROM STATE
    </select>

    <select id="selectProductCode" resultType="jp.co.info.ais.asm.domain.ProductCode">
    	SELECT
    		P_S_NUM,
    		P_NAME,
    		P_CODE,
    		P_TIME
    	FROM PRODUCT
    </select>

</mapper>
