<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ams.mapper.LoginMapper">

<select id="selectId" resultType="Integer">
    SELECT count(emp_id)
    FROM emp
    WHERE
    emp_id =#{id}
    </select>

  <select id="selectLogin" resultType="jp.co.info.ais.ams.domain.Login">
    SELECT
    	 emp_id
		,emp_name
		,passwd
		,organization_code
		,use_flag
    FROM emp
    WHERE
    emp_id =#{id}
    AND
    passwd = #{pass}
     </select>
 </mapper>
