<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.info.ais.ams.mapper.RentalMapper">
	<!--START 検索した情報及び全体リストを貸出のメイン画面に取り込む  -->
	<select id="selectAll" resultType="jp.co.info.ais.ams.domain.Rental">
		SELECT
			a.asset_seq,
			a.asset_number,
			r.rental_seq,
			r.rental_day,
			r.rental_user_id,
			r.purpose,
			r.speciality,
			r.applicant_id,
			r.return_day,
			r.return_user_id,
			r.return_period,
			a.status_code,
			r.storage_Location,
			r.bp_Name,
			r.approver,
			r.rental_no,
			a.kubun_code,
			c.code_detail_name
			FROM rental r
			join asset a on
			r.asset_seq = a.asset_seq
			join code_detail c on
			c.code_detail_id = a.kubun_code
			WHERE
				1 = 1
				<if test="rentalNo != null and !rentalNo.equals('')">
					AND r.rental_no LIKE '%${rentalNo}%'
				</if>
				<if test="assetNumber != null and !assetNumber.equals('')">
					AND a.asset_number LIKE '%${assetNumber}%'
				</if>
				<if test="rentalDayS != null and rentalDayE !=null">
					AND r.return_period BETWEEN #{rentalDayS} AND #{rentalDayE}
				</if>
				<if test="codeDetailId != null and codeDetailId !=null">
					AND c.code_detail_id  LIKE '%${codeDetailId}%'
				</if>
				AND r.return_day is null
				and c.code_master_id=#{codeMasterId}
		ORDER BY
		r.rental_no desc
		LIMIT #{length}
		OFFSET
		#{start}
	</select>
	<!--END 検索した情報及び全体リストを貸出のメイン画面に取り込む  -->

	<!--START 検索した情報及び全体リストを貸出のメイン画面のカウントのためのメソッド  -->
	<select id="selectCount" resultType="int">
		SELECT COUNT(1)
		FROM rental r
		join asset a on
		r.asset_seq = a.asset_seq
		join code_detail c on
		c.code_detail_id = a.kubun_code
		WHERE 1 = 1
		<if test="rentalNo != null and !rentalNo.equals('')">
			AND r.rental_no LIKE '%${rentalNo}%'
		</if>
		<if test="assetNumber != null and !assetNumber.equals('')">
			AND a.asset_number like '%${assetNumber}%'
		</if>
		<if test="rentalDayS != null and rentalDayE !=null">
			AND r.rental_day BETWEEN #{rentalDayS} AND #{rentalDayE}
		</if>
		<if test="codeDetailId != null and codeDetailId !=null">
			AND c.code_detail_id  LIKE '%${codeDetailId}%'
		</if>
		and r.return_day is null
		and c.code_master_id=#{codeMasterId}
	</select>
	<!--END 検索した情報及び全体リストを貸出のメイン画面のカウントのためのメソッド  -->

	<!--START データコードをセレクト  -->
	<select id="getSelectCodeData" parameterType="String" resultType="jp.co.info.ais.ams.domain.CodeDetail">
		SELECT
		code_detail_id,
		code_detail_name
		FROM code_detail where
		item1=${codeDetailName}
	</select>
	<!--END データコードをセレクト  -->

	<!--START 単一の貸出情報を取り出す  -->
	<select id="researchRental" parameterType="int" resultType="jp.co.info.ais.ams.domain.Rental">
		SELECT
		a.asset_seq,
		a.asset_number,
		r.rental_seq,
		r.rental_day,
		r.rental_user_id,
		r.purpose,
		r.approver,
		r.speciality,
		r.applicant_id,
		r.return_day,
		r.return_user_id,
		r.return_period,
		a.status_code,
		r.storage_Location,
		r.bp_Name,
		r.rental_no,
		a.kubun_code
		FROM rental r
		join asset a on
		r.asset_seq = a.asset_seq
		WHERE a.asset_seq=#{assetSeq}
		AND return_day IS NULL
	</select>
	<!--END 単一の貸出情報を取り出す  -->

	<!--START メインページに見せる資産コードの詳細情報を取り出す  -->
	<select id="selectStatusCode"  parameterType="jp.co.info.ais.ams.domain.CodeDetail" resultType="jp.co.info.ais.ams.domain.CodeDetail">
		SELECT
		code_detail_id,
		code_detail_name
		FROM code_detail where
		code_master_id=#{codeMasterId}
		and use_flag=#{useFlag}
	</select>
	<!--END メインページに見せる資産コードの詳細情報を取り出す  -->

	<!--START メインページに見せるコードの詳細情報を取り出す  -->
	<select id="selectCodeDetail" parameterType="jp.co.info.ais.ams.domain.CodeDetail" resultType="jp.co.info.ais.ams.domain.CodeDetail">
		SELECT
		code_master_id,
		code_detail_id,
		code_detail_name,
		item1,
		item2,
		item3
		FROM code_detail where code_master_id=#{codeMasterId}
		and use_flag=#{useFlag}
	</select>
	<!--END メインページに見せるコードの詳細情報を取り出す  -->

	<!--START メインページに見せるHW,SWなどの情報を取り出す  -->
	<select id="selectCode"  parameterType="jp.co.info.ais.ams.domain.CodeDetail" resultType="jp.co.info.ais.ams.domain.CodeDetail">
		SELECT
		code_detail_id,
		code_detail_name
		FROM code_detail where
		code_master_id=#{codeMasterId}
		and use_flag=#{useFlag}
	</select>
	<!--END メインページに見せるHW,SWなどの情報を取り出す  -->

	<!--START 最後に選択してもらった資産情報を取り出す -->
	<select id="selectAsset" parameterType="jp.co.info.ais.ams.domain.Rental" resultType="jp.co.info.ais.ams.domain.Asset">
		SELECT
		asset_seq,
		asset_number,
		kubun_code
		FROM asset where
		asset_number=#{assetNumber} and status_code=#{statusCode}
	</select>
	<!--END 最後に選択してもらった資産情報を取り出す -->

	<!--START選択してもらったコードを基にして該当する資産の情報を取り出す -->
	<select id="selectAssetList" parameterType="jp.co.info.ais.ams.domain.Asset" resultType="jp.co.info.ais.ams.domain.Asset">
		SELECT
		asset_seq,
		asset_number,
		kubun_code
		FROM asset where
		status_code=#{statusCode} and kubun_code=#{kubunCode}
	</select>
	<!--END 選択してもらったコードを基にして該当する資産の情報を取り出す -->

	<!--START リスト上にあるデータを取り込んで資産データテーブルのステータスを変える -->
	<update id="changeStatus" parameterType="java.util.List">
		<foreach collection="itemList" item="item" separator=";">
			update asset
			<set>
				status_code=#{item.statusCode},
				update_id=#{item.updateId}
			</set>
			where asset_seq= #{item.assetSeq}
		</foreach>
	</update>
	<!--END リスト上にあるデータを取り込んで資産データテーブルのステータスを変える -->

	<!--START リスト上にあるデータを取り込んで貸出データテーブルに書き込む -->
	<insert id="addRental" parameterType="java.util.List">
		<selectKey resultType="String" keyProperty="rentalNo" order="BEFORE">
			SELECT CONCAT((CURDATE()+0),CONCAT('-',
			LPAD(IFNULL(MAX(
			RIGHT(rental_no, 3)
			) + 1, 1), 3 , '0')
			))
			FROM rental b WHERE rental_no
			LIKE
			CONCAT((CURDATE()+0),'%')
		</selectKey>
			INSERT INTO rental(
			rental_Seq,
			asset_Seq,
			rental_day,
			approver,
			rental_User_id,
			purpose,
			storage_Location,
			speciality,
			applicant_id,
			return_Period,
			bp_name,
			insert_id,
			update_id,
			rental_no,
			status_code
			)
			VALUES
		<foreach item="item" index="index" collection="itemList" separator=",">
			(
				(SELECT
					IFNULL(MAX(r.rental_seq) + 1, 1) FROM rental r),
					#{item.assetSeq},
					#{item.rentalDay},
					#{item.approver},
					#{item.rentalUserId},
					#{item.purpose},
					#{item.storageLocation},
					#{item.speciality},
					#{item.applicantId},
					#{item.returnPeriod},
					#{item.bpName},
					#{item.insertId},
					#{item.updateId},
					#{rentalNo},
					#{item.statusCode}
			)
		</foreach>
	</insert>
	<!--END リスト上にあるデータを取り込んで貸出データテーブルに書き込む -->

	<!--START 返却する為の情報を取り込んで貸出データテーブルと資産データテーブルの情報を変える -->
	<update id="returnAsset" parameterType="jp.co.info.ais.ams.domain.Rental">
		update rental set
		update_id=#{updateId},
		return_day=#{returnDay},
		return_user_id=#{returnUserId}
		where
		asset_seq=#{assetSeq}
	</update>
	<!--END 返却する為の情報を取り込んで貸出データテーブルと資産データテーブルの情報を変える -->

	<!--START 返却が出来たら資産の状態も変更する -->
	<update id="changeAssetStatus" parameterType="jp.co.info.ais.ams.domain.Rental">
		update asset set
		update_id=#{updateId},
		status_code=#{statusCode}
		where
		asset_number=#{assetNumber}
	</update>
	<!--END 返却が出来たら資産の状態も変更する -->

	<!--START 該当する資産のステータスの情報を変える -->
	<update id="changeAStatus" parameterType="jp.co.info.ais.ams.domain.Rental">
		update asset set
		update_id=#{updateId},
		status_code=#{statusCode}
		where asset_seq=#{assetSeq}
	</update>
	<!--END 該当する資産のステータスの情報を変える -->

	<!--START アップデートする為のメソッド -->
	<update id="updateRental" parameterType="jp.co.info.ais.ams.domain.Rental">
		update rental set
		rental_day =#{rentalDay},
		rental_User_id=#{rentalUserId},
		approver=#{approver},
		purpose=#{purpose},
		storage_Location=#{storageLocation},
		speciality=#{speciality},
		applicant_id=#{applicantId},
		return_Period=#{returnPeriod},
		bp_name=#{bpName},
		update_id=#{updateId}
		where asset_seq=#{assetSeq}
	</update>
	<!--END アップデートする為のメソッド -->
</mapper>
