<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.info.ais.asm.mapper.RentalMapper">
	<select id="selectAll"
		resultType="jp.co.info.ais.asm.domain.Rental">

		SELECT
		a.asset_seq,
		a.asset_number,
		r.rental_seq,
		r.rental_day,
		r.rental_user_id,
		r.purpose,
		r.speciality,
		r.applicant_id,
		r.return_day,
		r.return_user_id,
		r.return_period,
		a.status_code,
		r.storage_Location,
		r.bp_Name,
		r.rental_no,
		a.kubun_code
		FROM rental r

		JOIN asset a ON
		r.asset_seq = a.asset_seq

		AND r.status_code = '002'
		ORDER BY
		asset_number ASC


		LIMIT #{length} OFFSET #{start}
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(1)
		FROM rental


	</select>

	<select id="getSelectCodeData" parameterType="String"
		resultType="jp.co.info.ais.asm.domain.CodeDetail">
		SELECT
		code_detail_id,
		code_detail_name

		FROM code_detail where
		item1=${codeDetailName}

	</select>


	<select id="researchRental" parameterType="String"
		resultType="jp.co.info.ais.asm.domain.Rental">
		select * from Rental
		where asset_Number=#{assetNumber}
	</select>
	<select id="selectStatusCode"
		resultType="jp.co.info.ais.asm.domain.StatusCode">
		SELECT
		code_detail_id,
		code_detail_name
		FROM code_detail where
		code_master_id='001'
	</select>

	<select id="selectCodeDetail"
		resultType="jp.co.info.ais.asm.domain.CodeDetail">
		SELECT
		code_master_id,
		code_detail_id,
		code_detail_name,
		item1,
		item2
		FROM code_detail where code_master_id='002'
	</select>

	<select id="selectCode"
		resultType="jp.co.info.ais.asm.domain.CodeDetail">
		SELECT
		code_detail_id,
		code_detail_name
		FROM code_detail where
		code_master_id='003'
	</select>
	<select id="selectAsset" parameterType="String"
		resultType="jp.co.info.ais.asm.domain.Asset">
		SELECT
		asset_seq,
		asset_number,
		kubun_code
		FROM asset where
		asset_number=#{number} and status_code='001'
	</select>

	<select id="selectAssetList" parameterType="String"
		resultType="jp.co.info.ais.asm.domain.Asset">
		SELECT
		asset_seq,
		asset_number,
		kubun_code
		FROM asset where
		status_code='001' and kubun_code=#{selectedItem}
	</select>

	<update id="changeStatus" parameterType="java.util.List">
		<foreach item="item" index="index" collection="list">
			update asset
			set

			status_code='002'
			where
			asset_Seq=#{item.assetSeq}
		</foreach>
	</update>

	<insert id="addRental" parameterType="java.util.List">



			INSERT INTO rental(
			rental_Seq,
			asset_Seq,
			rental_day,
			rental_User_id,
			purpose,
			storage_Location,
			speciality,
			applicant_id,
			return_Period,
			bp_name,
			insert_id,
			update_id,
			rental_no,
			status_code
			) VALUES
			<foreach item="item" index="index" collection="itemList"  separator =",">
			(
			(SELECT
			IFNULL(MAX(rental_seq) + 1, 1) FROM rental r),
			#{item.assetSeq},
			#{item.rentalDay},
			#{item.rentalUserId},
			#{item.purpose},
			#{item.storageLocation},
			#{item.speciality},
			#{item.applicantId},
			#{item.returnPeriod},
			#{item.bpName},
			#{item.applicantId},
			#{item.applicantId},
			(SELECT
			IFNULL(#{item.rentalDay}+MAX(rental_seq) +
			1, 1) FROM rental r),
			'002'
			)
		</foreach>
	</insert>
	<update id="returnAsset"
		parameterType="jp.co.info.ais.asm.domain.Rental">
		update rental set
		update_id=#{applicantId},
		status_code='001',
		return_day=#{returnDay},
		return_user_id=#{returnUserId}
		where asset_seq=#{assetSeq}

	</update>

		<update id="changeAssetStatus"
		 parameterType="java.util.List">
		update asset set

		status_code='001'

	<foreach item="item" index="index" collection="itemList"  separator =",">
		where asset_seq=#{item.assetSeq}
	</foreach>
	</update>

</mapper>

