<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.info.ais.asm.mapper.RentalMapper">

	<resultMap id="rentalResult" type="Rental">
		<id property="rentalSeq" column="rental_seq" />
		<result property="assetSeq" column="asset_seq" />
		<result property="assetNumber" column="asset_number" />
		<result property="rentalDay" column="rental_day" />
		<result property="rentalUserId" column="rental_user_id" />
		<result property="purpose" column="purpose" />
		<result property="speciality" column="speciality" />
		<result property="applicantId" column="applicant_id" />
		<result property="returnDay" column="return_day" />
		<result property="returnUserId" column="return_user_id" />
		<result property="returnPeriod" column="return_period" />
		<result property="statusCode" column="status_code" />
		<result property="storageLocation" column="storage_Location" />
		<result property="bpName" column="bp_Name" />
		<result property="rentalNo" column="rental_no" />
		<result property="kubunCode" column="kubun_code" />

	</resultMap>
	<select id="selectAll"
		resultType="jp.co.info.ais.asm.domain.Rental">

		SELECT
		a.asset_seq,
		a.asset_number,
		r.rental_seq,
		r.rental_day,
		r.rental_user_id,
		r.purpose,
		r.speciality,
		r.applicant_id,
		r.return_day,
		r.return_user_id,
		r.return_period,
		a.status_code,
		r.storage_Location,
		r.bp_Name,
		r.rental_no,
		a.kubun_code
		FROM rental r
		join asset a on
		r.asset_seq = a.asset_seq
		WHERE
		1 = 1
		<if test="assetNumber != null and !assetNumber.equals('')">
			AND a.asset_number LIKE '%${assetNumber}%'
		</if>
		<if test="rentalDayS != null and rentalDayE !=null">
			AND r.rental_day BETWEEN #{rentalDayS} AND #{rentalDayE}
		</if>
		AND r.status_code = '02'
		ORDER BY
		asset_number ASC


		LIMIT #{length}
		OFFSET
		#{start}
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(1)
		FROM rental r
		join asset a on
		r.asset_seq = a.asset_seq
		WHERE 1 = 1
		<if test="assetNumber != null and !assetNumber.equals('')">
			AND a.asset_number like '%${assetNumber}%'
		</if>
		<if test="rentalDayS != null and rentalDayE !=null">
			AND r.rental_day BETWEEN #{rentalDayS} AND #{rentalDayE}
		</if>
		and r.status_code='02'
	</select>

	<select id="getSelectCodeData" parameterType="String"
		resultType="jp.co.info.ais.asm.domain.CodeDetail">
		SELECT
		code_detail_id,
		code_detail_name

		FROM code_detail where
		item1=${codeDetailName}

	</select>


	<select id="researchRental" parameterType="int"
		resultType="jp.co.info.ais.asm.domain.Rental">
		SELECT
		a.asset_seq,
		a.asset_number,
		r.rental_seq,
		r.rental_day,
		r.rental_user_id,
		r.purpose,
		r.speciality,
		r.applicant_id,
		r.return_day,
		r.return_user_id,
		r.return_period,
		a.status_code,
		r.storage_Location,
		r.bp_Name,
		r.rental_no,
		a.kubun_code
		FROM rental r
		join asset a on
		r.asset_seq = a.asset_seq
		WHERE a.asset_seq=#{assetSeq}
		AND r.status_code='02'
	</select>
	<select id="selectStatusCode"
		resultType="jp.co.info.ais.asm.domain.StatusCode">
		SELECT
		code_detail_id,
		code_detail_name
		FROM code_detail where
		code_master_id='001'
	</select>

	<select id="selectCodeDetail"
		resultType="jp.co.info.ais.asm.domain.CodeDetail">
		SELECT
		code_master_id,
		code_detail_id,
		code_detail_name,
		item1,
		item2
		FROM code_detail where code_master_id='002'
	</select>

	<select id="selectCode"
		resultType="jp.co.info.ais.asm.domain.CodeDetail">
		SELECT
		code_detail_id,
		code_detail_name
		FROM code_detail where
		code_master_id='003'
	</select>
	<select id="selectAsset" parameterType="String"
		resultType="jp.co.info.ais.asm.domain.Asset">
		SELECT
		asset_seq,
		asset_number,
		kubun_code
		FROM asset where
		asset_number=#{number} and status_code='01'
	</select>

	<select id="selectAssetList" parameterType="String"
		resultType="jp.co.info.ais.asm.domain.Asset">
		SELECT
		asset_seq,
		asset_number,
		kubun_code
		FROM asset where
		status_code='01' and kubun_code=#{selectedItem}
	</select>

	<update id="changeStatus" parameterType="java.util.List">

		update asset
		set

		status_code='02'

		<foreach item="item" index="index" collection="itemList"
			separator=",">
			where asset_seq=#{item.assetSeq}
		</foreach>
	</update>

	<insert id="addRental" parameterType="java.util.List">
		<selectKey resultType="String" keyProperty="rentalNo"
			order="BEFORE">



			SELECT CONCAT((CURDATE()+0),
			LPAD(IFNULL(MAX(
			RIGHT(rental_no, 3)
			) + 1, 1), 3 , '0')
			)
			FROM rental b WHERE rental_no LIKE CONCAT((CURDATE()+0),'%')

		</selectKey>
		INSERT INTO rental(
		rental_Seq,
		asset_Seq,
		rental_day,
		rental_User_id,
		purpose,
		storage_Location,
		speciality,
		applicant_id,
		return_Period,
		bp_name,
		insert_id,
		update_id,
		rental_no,
		status_code
		)
		VALUES
		<foreach item="item" index="index" collection="itemList"
			separator=",">
			(
			(SELECT
			IFNULL(MAX(rental_seq) + 1, 1) FROM rental r),
			#{item.assetSeq},
			#{item.rentalDay},
			#{item.rentalUserId},
			#{item.purpose},
			#{item.storageLocation},
			#{item.speciality},
			#{item.applicantId},
			#{item.returnPeriod},
			#{item.bpName},
			#{item.applicantId},
			#{item.applicantId},
			#{rentalNo},
			'02'
			)
		</foreach>
	</insert>

	<update id="returnAsset"
		parameterType="jp.co.info.ais.asm.domain.Rental">
		update rental set
		update_id=#{applicantId},
		status_code='001',
		return_day=#{returnDay},
		return_user_id=#{returnUserId}
		where asset_seq=#{assetSeq}

	</update>

	<update id="changeAssetStatus" parameterType="String">
		update asset set

		status_code='02'



		where asset_number=#{assetNumber}

	</update>

	<update id="changeAStatus" parameterType="int">
		update asset set

		status_code='01'



		where asset_seq=#{assetSeq}

	</update>

	<update id="updateRental"
		parameterType="jp.co.info.ais.asm.domain.Rental">
		update rental set
		rental_day =#{rentalDay},
		rental_User_id=#{rentalUserId},
		purpose=#{purpose},
		storage_Location=#{storageLocation},
		speciality=#{speciality},
		applicant_id=#{applicantId},
		return_Period=#{returnPeriod},
		bp_name=#{bpName},
		update_id=#{updateId}
		where asset_seq=#{assetSeq}

	</update>

</mapper>

